.w-1 {
	width: 300px
}
.w-2 {
	width: 600px
}
.w-3 {
	width: 1200px
}
.w {
	width: var(--width);
}
.w > * {
	--width: unset;
}
.w-viewport {
	max-width: none !important;
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translate(-50vw);
}
.w-viewport.max-w {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.w-viewport.max-w > .wrapper {
	max-width: var(--max-width);
	box-sizing: content-box;
	width: 100vw;
	flex-shrink: 0;
	flex-basis: 100%;
}
.h-1 {
	height: 300px
}
.h-2 {
	height: 600px
}
.h-3 {
	height: 1200px
}
.m-1 {
	margin: 0.125em
}
.m-2 {
	margin: 0.1875em
}
.m-3 {
	margin: 0.25em
}
.m-4 {
	margin: 0.375em
}
.m-5 {
	margin: 0.5em
}
.m-6 {
	margin: 0.75em
}
.m-7 {
	margin: 1em
}
.m-8 {
	margin: 1.4375em
}
.m-9 {
	margin: 2em
}
.m-10 {
	margin: 2.875em
}
.m-11 {
	margin: 4em
}
.m-12 {
	margin: 5.6875em
}
.m-13 {
	margin: 8em
}
.m-14 {
	margin: 11.375em
}
.m-15 {
	margin: 16em
}
.m-16 {
	margin: 22.6875em
}
.m-17 {
	margin: 32em
}
.m-18 {
	margin: 45.3125em
}
.m-19 {
	margin: 64em
}
.m-20 {
	margin: 90.5625em
}
.m-21 {
	margin: 128em
}
.mb-0 {
	margin-bottom: 0.125em
}
.mb-1 {
	margin-bottom: 0.1875em
}
.mb-2 {
	margin-bottom: 0.25em
}
.mb-3 {
	margin-bottom: 0.375em
}
.mb-4 {
	margin-bottom: 0.5em
}
.mb-5 {
	margin-bottom: 0.75em
}
.mb-6 {
	margin-bottom: 1em
}
.mb-7 {
	margin-bottom: 1.4375em
}
.mb-8 {
	margin-bottom: 2em
}
.mb-9 {
	margin-bottom: 2.875em
}
.mb-10 {
	margin-bottom: 4em
}
.mb-11 {
	margin-bottom: 5.6875em
}
.mb-12 {
	margin-bottom: 8em
}
.mb-13 {
	margin-bottom: 11.375em
}
.mb-14 {
	margin-bottom: 16em
}
.mb-15 {
	margin-bottom: 22.6875em
}
.mb-16 {
	margin-bottom: 32em
}
.mb-17 {
	margin-bottom: 45.3125em
}
.mb-18 {
	margin-bottom: 64em
}
.mb-19 {
	margin-bottom: 90.5625em
}
.mb-20 {
	margin-bottom: 128em
}
.ml-0 {
	margin-left: 0.125em
}
.ml-1 {
	margin-left: 0.1875em
}
.ml-2 {
	margin-left: 0.25em
}
.ml-3 {
	margin-left: 0.375em
}
.ml-4 {
	margin-left: 0.5em
}
.ml-5 {
	margin-left: 0.75em
}
.ml-6 {
	margin-left: 1em
}
.ml-7 {
	margin-left: 1.4375em
}
.ml-8 {
	margin-left: 2em
}
.ml-9 {
	margin-left: 2.875em
}
.ml-10 {
	margin-left: 4em
}
.ml-11 {
	margin-left: 5.6875em
}
.ml-12 {
	margin-left: 8em
}
.ml-13 {
	margin-left: 11.375em
}
.ml-14 {
	margin-left: 16em
}
.ml-15 {
	margin-left: 22.6875em
}
.ml-16 {
	margin-left: 32em
}
.ml-17 {
	margin-left: 45.3125em
}
.ml-18 {
	margin-left: 64em
}
.ml-19 {
	margin-left: 90.5625em
}
.ml-20 {
	margin-left: 128em
}
.mr-0 {
	margin-right: 0.125em
}
.mr-1 {
	margin-right: 0.1875em
}
.mr-2 {
	margin-right: 0.25em
}
.mr-3 {
	margin-right: 0.375em
}
.mr-4 {
	margin-right: 0.5em
}
.mr-5 {
	margin-right: 0.75em
}
.mr-6 {
	margin-right: 1em
}
.mr-7 {
	margin-right: 1.4375em
}
.mr-8 {
	margin-right: 2em
}
.mr-9 {
	margin-right: 2.875em
}
.mr-10 {
	margin-right: 4em
}
.mr-11 {
	margin-right: 5.6875em
}
.mr-12 {
	margin-right: 8em
}
.mr-13 {
	margin-right: 11.375em
}
.mr-14 {
	margin-right: 16em
}
.mr-15 {
	margin-right: 22.6875em
}
.mr-16 {
	margin-right: 32em
}
.mr-17 {
	margin-right: 45.3125em
}
.mr-18 {
	margin-right: 64em
}
.mr-19 {
	margin-right: 90.5625em
}
.mr-20 {
	margin-right: 128em
}
.mt-0 {
	margin-top: 0.125em
}
.mt-1 {
	margin-top: 0.1875em
}
.mt-2 {
	margin-top: 0.25em
}
.mt-3 {
	margin-top: 0.375em
}
.mt-4 {
	margin-top: 0.5em
}
.mt-5 {
	margin-top: 0.75em
}
.mt-6 {
	margin-top: 1em
}
.mt-7 {
	margin-top: 1.4375em
}
.mt-8 {
	margin-top: 2em
}
.mt-9 {
	margin-top: 2.875em
}
.mt-10 {
	margin-top: 4em
}
.mt-11 {
	margin-top: 5.6875em
}
.mt-12 {
	margin-top: 8em
}
.mt-13 {
	margin-top: 11.375em
}
.mt-14 {
	margin-top: 16em
}
.mt-15 {
	margin-top: 22.6875em
}
.mt-16 {
	margin-top: 32em
}
.mt-17 {
	margin-top: 45.3125em
}
.mt-18 {
	margin-top: 64em
}
.mt-19 {
	margin-top: 90.5625em
}
.mt-20 {
	margin-top: 128em
}
.m {
	margin-top: var(--mt, unset);
	margin-right: var(--mr, unset);
	margin-bottom: var(--mb, unset);
	margin-left: var(--ml, unset);
}
.m > * {
	--mt: unset;
	--mr: unset;
	--mb: unset;
	--ml: unset;
}
.m-auto {
	margin: auto;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mb-auto {
	margin-bottom: auto;
}
.mt-auto {
	margin-top: auto;
}
.max-w-1 {
	max-width: 300px
}
.max-w-2 {
	max-width: 600px
}
.max-w-3 {
	max-width: 1200px
}
.p-1 {
	padding: 0.125em
}
.p-2 {
	padding: 0.1875em
}
.p-3 {
	padding: 0.25em
}
.p-4 {
	padding: 0.375em
}
.p-5 {
	padding: 0.5em
}
.p-6 {
	padding: 0.75em
}
.p-7 {
	padding: 1em
}
.p-8 {
	padding: 1.4375em
}
.p-9 {
	padding: 2em
}
.p-10 {
	padding: 2.875em
}
.p-11 {
	padding: 4em
}
.p-12 {
	padding: 5.6875em
}
.p-13 {
	padding: 8em
}
.p-14 {
	padding: 11.375em
}
.p-15 {
	padding: 16em
}
.p-16 {
	padding: 22.6875em
}
.p-17 {
	padding: 32em
}
.p-18 {
	padding: 45.3125em
}
.p-19 {
	padding: 64em
}
.p-20 {
	padding: 90.5625em
}
.p-21 {
	padding: 128em
}
.pb-0 {
	padding-bottom: 0.125em
}
.pb-1 {
	padding-bottom: 0.1875em
}
.pb-2 {
	padding-bottom: 0.25em
}
.pb-3 {
	padding-bottom: 0.375em
}
.pb-4 {
	padding-bottom: 0.5em
}
.pb-5 {
	padding-bottom: 0.75em
}
.pb-6 {
	padding-bottom: 1em
}
.pb-7 {
	padding-bottom: 1.4375em
}
.pb-8 {
	padding-bottom: 2em
}
.pb-9 {
	padding-bottom: 2.875em
}
.pb-10 {
	padding-bottom: 4em
}
.pb-11 {
	padding-bottom: 5.6875em
}
.pb-12 {
	padding-bottom: 8em
}
.pb-13 {
	padding-bottom: 11.375em
}
.pb-14 {
	padding-bottom: 16em
}
.pb-15 {
	padding-bottom: 22.6875em
}
.pb-16 {
	padding-bottom: 32em
}
.pb-17 {
	padding-bottom: 45.3125em
}
.pb-18 {
	padding-bottom: 64em
}
.pb-19 {
	padding-bottom: 90.5625em
}
.pb-20 {
	padding-bottom: 128em
}
.pl-0 {
	padding-left: 0.125em
}
.pl-1 {
	padding-left: 0.1875em
}
.pl-2 {
	padding-left: 0.25em
}
.pl-3 {
	padding-left: 0.375em
}
.pl-4 {
	padding-left: 0.5em
}
.pl-5 {
	padding-left: 0.75em
}
.pl-6 {
	padding-left: 1em
}
.pl-7 {
	padding-left: 1.4375em
}
.pl-8 {
	padding-left: 2em
}
.pl-9 {
	padding-left: 2.875em
}
.pl-10 {
	padding-left: 4em
}
.pl-11 {
	padding-left: 5.6875em
}
.pl-12 {
	padding-left: 8em
}
.pl-13 {
	padding-left: 11.375em
}
.pl-14 {
	padding-left: 16em
}
.pl-15 {
	padding-left: 22.6875em
}
.pl-16 {
	padding-left: 32em
}
.pl-17 {
	padding-left: 45.3125em
}
.pl-18 {
	padding-left: 64em
}
.pl-19 {
	padding-left: 90.5625em
}
.pl-20 {
	padding-left: 128em
}
.pr-0 {
	padding-right: 0.125em
}
.pr-1 {
	padding-right: 0.1875em
}
.pr-2 {
	padding-right: 0.25em
}
.pr-3 {
	padding-right: 0.375em
}
.pr-4 {
	padding-right: 0.5em
}
.pr-5 {
	padding-right: 0.75em
}
.pr-6 {
	padding-right: 1em
}
.pr-7 {
	padding-right: 1.4375em
}
.pr-8 {
	padding-right: 2em
}
.pr-9 {
	padding-right: 2.875em
}
.pr-10 {
	padding-right: 4em
}
.pr-11 {
	padding-right: 5.6875em
}
.pr-12 {
	padding-right: 8em
}
.pr-13 {
	padding-right: 11.375em
}
.pr-14 {
	padding-right: 16em
}
.pr-15 {
	padding-right: 22.6875em
}
.pr-16 {
	padding-right: 32em
}
.pr-17 {
	padding-right: 45.3125em
}
.pr-18 {
	padding-right: 64em
}
.pr-19 {
	padding-right: 90.5625em
}
.pr-20 {
	padding-right: 128em
}
.pt-0 {
	padding-top: 0.125em
}
.pt-1 {
	padding-top: 0.1875em
}
.pt-2 {
	padding-top: 0.25em
}
.pt-3 {
	padding-top: 0.375em
}
.pt-4 {
	padding-top: 0.5em
}
.pt-5 {
	padding-top: 0.75em
}
.pt-6 {
	padding-top: 1em
}
.pt-7 {
	padding-top: 1.4375em
}
.pt-8 {
	padding-top: 2em
}
.pt-9 {
	padding-top: 2.875em
}
.pt-10 {
	padding-top: 4em
}
.pt-11 {
	padding-top: 5.6875em
}
.pt-12 {
	padding-top: 8em
}
.pt-13 {
	padding-top: 11.375em
}
.pt-14 {
	padding-top: 16em
}
.pt-15 {
	padding-top: 22.6875em
}
.pt-16 {
	padding-top: 32em
}
.pt-17 {
	padding-top: 45.3125em
}
.pt-18 {
	padding-top: 64em
}
.pt-19 {
	padding-top: 90.5625em
}
.pt-20 {
	padding-top: 128em
}
.p {
	padding-top: var(--pt, unset);
	padding-right: var(--pr, unset);
	padding-bottom: var(--pb, unset);
	padding-left: var(--pl, unset);
}
.p > * {
	--pt: unset;
	--pr: unset;
	--pb: unset;
	--pl: unset;
}
.p-inherit {
	padding: inherit;
}
.pt-inherit {
	padding-top: inherit;
}
.pr-inherit {
	padding-right: inherit;
}
.pb-inherit {
	padding-bottom: inherit;
}
.pl-inherit {
	padding-left: inherit;
}
.f-0 {
	font-size: 0.75rem
}
.f-1 {
	font-size: 0.875rem
}
.f-2 {
	font-size: 1rem
}
.f-3 {
	font-size: 1.125rem
}
.f-4 {
	font-size: 1.25rem
}
.f-5 {
	font-size: 1.5rem
}
.f-6 {
	font-size: 1.875rem
}
.f-7 {
	font-size: 2.25rem
}
.f-8 {
	font-size: 3rem
}
.f-9 {
	font-size: 4rem
}
.f-10 {
	font-size: 52px
}
.f-aqua {
	color: #7FDBFF;
}
.f-black {
	color: #111111;
}
.f-blue {
	color: #0074D9;
}
.f-fuchsia {
	color: #F012BE;
}
.f-gray {
	color: #AAAAAA;
}
.f-green {
	color: #2ECC40;
}
.f-lime {
	color: #01FF70;
}
.f-maroon {
	color: #85144B;
}
.f-navy {
	color: #001F3F;
}
.f-olive {
	color: #3D9970;
}
.f-orange {
	color: #FF851B;
}
.f-purple {
	color: #B10DC9;
}
.f-red {
	color: #FF4136;
}
.f-silver {
	color: #DDDDDD;
}
.f-teal {
	color: #39CCCC;
}
.f-white {
	color: #FFFFFF;
}
.f-yellow {
	color: #FFDC00;
}
.f-primary {
	color: green;
}
.flex-open {
	display: flex;
	flex-wrap: wrap;
}
.flex-open > * {
	flex-basis: 100%;
	flex-shrink: 0;
}
.f-caps {
	font-family: Roboto;
	font-weight: 600;
	letter-spacing: 0.23em;
	line-height: 1.4;
	text-transform: uppercase;
}
.f-code {
	font-family: Roboto;
	font-size: 0.9em;
	line-height: 1.4;
}
.f-heading {
	font-family: Roboto;
	font-weight: 500;
	line-height: 1.4;
}
.f-link {
	font-family: Roboto;
	line-height: 1.4;
	text-decoration: underline;
}
.f-text {
	font-family: Roboto;
	line-height: 1.4;
}
.font-family-code {
	font-family: Roboto;
}
.font-family-display {
	font-family: Miriam Libre;
}
.font-family-text {
	font-family: Roboto;
}
.c-contrast {
	--background-color: #DDDDDD;
	--border-color: #01FF70;
	--heading-color: #111111;
	--link-color: #2ECC40;
	--color: #111111;
}
.c {
	--background-color: #FFFFFF;
	--border-color: #01FF70;
	--heading-color: #111111;
	--link-color: #2ECC40;
	--color: #111111;
}
.c-light {
	--background-color: #FFFFFF;
	--border-color: #01FF70;
	--heading-color: #111111;
	--link-color: #2ECC40;
	--color: #111111;
}
.c {
	color: var(--color);
	background-color: var(--background-color);
}
.z-0 {
	z-index: 0
}
.z-10 {
	z-index: 10
}
.z-20 {
	z-index: 20
}
.z-30 {
	z-index: 30
}
.z-40 {
	z-index: 40
}
.z-50 {
	z-index: 50
}
.aqua {
	color: #7FDBFF;
}
.black {
	color: #111111;
}
.blue {
	color: #0074D9;
}
.fuchsia {
	color: #F012BE;
}
.gray {
	color: #AAAAAA;
}
.green {
	color: #2ECC40;
}
.lime {
	color: #01FF70;
}
.maroon {
	color: #85144B;
}
.navy {
	color: #001F3F;
}
.olive {
	color: #3D9970;
}
.orange {
	color: #FF851B;
}
.purple {
	color: #B10DC9;
}
.red {
	color: #FF4136;
}
.silver {
	color: #DDDDDD;
}
.teal {
	color: #39CCCC;
}
.white {
	color: #FFFFFF;
}
.yellow {
	color: #FFDC00;
}
.primary {
	color: green;
}
