{% for rule in rules -%}
{%- if rule.props -%}
.{{rule.abbr}} {
	{%- for prop in rule.props %}
	{{prop.name | kebabcase}}: {{prop.value}};
	{%- endfor %}
}
{%- endif -%}
{% for modifier in rule.modifiers %}
{% if modifier.name === 'default' %}
.{{rule.abbr}} {
{%- else -%}
.{{rule.abbr}}-{{modifier.name}} {
{%- endif -%}
	{%- for prop in modifier.props %}
	{{prop.name | kebabcase}}: {{prop.value}};
	{%- endfor %}
}
{%- endfor -%}
{%- endfor -%}
