@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--code-block :not(p):not(li):not(td) > code;
@custom-selector :--code-inline p > code, li > code, td > code;
@custom-selector :--text p, ul, ol, blockquote, :--heading;
@custom-selector :--block blockquote, table, div, section;
@custom-selector :--link a;
